<div class="field field-left-label pkg">
    <div class="field-inner">
        <div class="field-header">
            <label for="pshb_hubs"><MT_TRANS phrase="PubSubHubbub Hub(s)"></label>
        </div>
        <div class="field-content">
            <textarea id="pshb_hubs" name="hubs" rows="5" cols="48"><TMPL_VAR NAME=HUBS></textarea>
            <p class="hint"><MT_TRANS phrase="List the hub URL(s) you want to ping, one URL for each line. Google's http://pubsubhubbub.appspot.com/ can be used as a public hub."></p>
        </div>
    </div>
</div>
