<mtapp:setting
  id="hubs"
  label="<__trans phrase="PubSubHubbub Hub(s)">"
  show_hint="1"
  hint="<__trans phrase="List the other hub URL(s) you want to ping, one URL for each line. Google's http://pubsubhubbub.appspot.com/ can be used as a public hub.">">
<textarea id="pshb_hubs" name="hubs" rows="4" style="width:100%"><TMPL_VAR NAME=HUBS ESCAPE=HTML></textarea>
</mtapp:setting>

